.footer {
    display:flex; 
    justify-content: space-around;
    align-items: center;
    height: 12rem;
    background-color:rgb(50, 61, 71); 
    color:white;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 1px;
}

.footer h5 {
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top:0.7rem;
}


.footer a:hover,
.footer a:focus,
.footer a:active {
    color:rgb(250, 180, 50);
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: 25rem;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer h5 {
        text-align: center;
    }
    .footer p {
        text-align: center;
    }
}
