.services section{
    padding: 2rem 1rem 0rem;
}
.services section:hover {
    cursor:pointer;
}

.services section:hover h5{
    color:rgb(250, 180, 50);
    transition: all 200ms ease-in;
}

.services h2 {
    margin-top:2.5rem;
    margin-bottom:1rem;
    text-align: center;
    font-weight: bolder;
}

.services h5 {
    font-size: 0.9rem;
    font-weight: bolder;
}

.services section div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.services section i {
    font-size: 3rem;
    margin-right: 1rem;
    color:rgb(250, 180, 50);
}

.services p {
    color:grey;
    font-weight: 300;
}
