.sidebar {
    display:flex;
    flex-direction: column;
    width: 35%;
    max-width: 280px; 
}

.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.image {
    width:31.5%;
}


.projects h5 {
    margin-bottom:25px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.contact {
    background-color: rgb(50, 61, 71);
    color:white;
    padding:30px 20px;
    margin-top:2rem;
    margin-bottom: 2rem;
}
.contact p {
    font-weight: bolder;
}

@media (max-width:768px) {
    .sidebar {
        min-width: 100%;
    }
    .image {
        width:16%;
    }
}

@media (max-width:576px) {
    .image {
        width:31.5%;
    }
}